* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');


li,
a {
    font-family: 'Oleo', sans-serif;
    font-weight: 400;
    text-decoration: none;
    padding: 1rem;
    display: block;
    
}

.link{
    color:white;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
}

nav a:hover {
    color: rgb(9, 180, 9);
}



.back {
    width: 70%;
    height: 40%;
    margin: auto;
    padding: 10px;
}



.home {
    margin: auto;
    width: 75%;
    padding-top: 10%;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    padding-bottom: 10%;

}

.home img{
    border-radius: 10px;
}


.home h2, h1{
    color:white;
    text-align: left;
}
.home p{
    color: white;
}



.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;  
    margin-top: 30px;
}
.grid-item {

    padding: 20px;
    color: white;
    font-size: 30px;
    text-align: center;
    
}

:root {
    --bg-color: #0c0c0c;

    --secondary-color: #fff;
    --text-color: #fff;

}

.contact__form .form-control {
    padding: 1.375rem .75rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 0 !important;
    border: 1px solid var(--secondary-color);
}

.contact__form input.form-control {
    margin-bottom: 2em;
    height: calc(2.5em + .75rem + 2px);
}


.contact-container{
    padding-bottom: 10%;
    
}

.text-success{
    text-decoration: none;
}



.about{
    display: flex;
    margin-top: 30px;
    gap:2%;
    text-align: center;
    justify-content: center;
    padding-bottom: 10%;

}



.right{
    background-color: red;
    border: 1px solid blue;
    width:45%;

}
.left{
    background-color: green;
    border: 1px solid blue;
    width:45%
}